@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

.mediaDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 25em !important;
  }

  font-family: 'Roboto Flex', sans-serif;

  span {
    height: 50px;
    width: 50px;
    transform: scale(2);
  }


  .mediaDetails__mediaGenreContainer {
         
  display: flex;
  row-gap: 1rem, 1rem;
  gap: 4rem;

}

.collectioRatingContainer {

  .checked {
    color: orange;
    
  }

}

.userRatingContainer {
  
  .checkatined {
    color: rgb(0, 17, 255);
  }

}

.mediaUserListContainer {

  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch; 
}

.mediaRatingContainer {    
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;

  .fa-star {
    transform-origin: 0 0;
  }


  .collectioRatingContainer {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
  }
  .userRatingContainer {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
  }
  .mediaUserReview {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
    width: fit-content;
    height: fit-content;
  }

}

.mediaContainer {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.mediaImageContainer {    
 
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  img {    
    
    border-radius: 1rem;   
    
  }

  .mediaDetails__mediaTitle {
    
    font-size:x-large; 
    font-weight:bolder;
}


.mediaDetails__mediaReleaseYear,
.mediaDetails__mediaRunTime,
.mediaDetails__mediaGenre,
.mediaDetails__mediaCast,
.mediaDetails__mediaOverview {

  h2, h4 {
      
    font-style: oblique;
      
  }
 
  span {
    height: 50px;
    width: 50px;
    transform: scale(2)
  }
  
}
}


  .userRatingContainer {
    
    .checked {
      display: flex;
      color: rgb(0, 17, 255);
    }
  
  }

  
  .mediaUserListContainer {
  
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch; 
    gap: 0.5rem
  }
  
  // .mediaContainer {
  //   margin-top: 7rem;
  //   margin-left: 10rem;
  //   display: flex;
  //   justify-content: center;
  // }

  .mediaImageContainer {    
   
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    img {    
      
      border-radius: 1rem;   
      
    }
  
    h1 {
      
      font-size:3em; 
      font-weight:bolder;
  }
  
}

  
.mediaTextContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center; 
  justify-content: center;
  gap: 2rem;
  padding: 0 2em;

  h3 {

    
    text-decoration: underline;
    font-size: 1.3em;
  }


  .mediaOverviewContainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    

      .mediaDetails__mediaOverview {

          font-size: 1.7em;
          font-style: italic;   
          color:rgb(37, 6, 6)
        
      }

}


}

.button {
  display: flex;
  height: 50px;
  padding: 10px;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 8px;
  font-weight: 500;
  cursor: pointer;
}
  
  .button--delete {  
    
    background: #ff0505;
    }

  .button--dark_green {
    border:0.3rem dotted pink;

  }


  .button--review {  
    
    background: #2e60eb !important;
   }
  


.button:hover {
  background: #008168;
  font-size: 10px;
  font-weight: 500;   
  cursor: pointer;
  transform: scale(1.1);
}

.buttonMediaUser {
  display: flex;
  flex-direction: column;
}

  
.--review {
  background: rgb(105, 105, 207);
}

.--delete {
  background: rgb(255, 0, 0);
}


.button:active {
  background: #006e58;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0px 20px;  
  color: white;
  height: 100%
  
}

.button__icon {
  font-size: 1.5em;
  justify-content: space-evenly;
}
}