@use 'sass:color';

// // Wireframe theme
// $primary-color: #B1B1B1;
// $secondary-color: #29579D;

// $light-color: #FFFFFF;
// $dark-color: #000000;

// // test theme
// $primary-color: #0392CC;
// $test-color: #FD5309;
// $secondary-color: #29579D;

// $light-color: #FFFFFF;
// $dark-color: #000000;

// test theme
$primary-color: #1f7985;
$secondary-color: #09491c;

$light-color: #FFFFFF;
$dark-color: #000000;